# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
*.log
.coverage
.cache
.pytest_cache/
.DS_Store

# Streamlit
.streamlit/

# Artifacts/Temp
*.txt
*.png
*.csv
!all-data.csv
